:root{
    --text-color: white;
    --black: black;
    --white: white;
    --font-type: Verdana, Tahoma, sans-serif,serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    /* outline: 2px solid white; */
    color: var(--text-color);
    font-family: var(--font-type);
}
img{
    width: 180px;
    height: 180px;
}
body{
    background: radial-gradient(circle, rgba(179, 160, 81, 0.9) 0%, rgba(179, 160, 81, 0.9) 100%);
    height: 100vh;
}
.active-page .page-link {
    background-color: #28a745;
    color: white;
}
.card-body .card-text{
    color: var(--white);
}
#pokecontainer #card{
    background: linear-gradient(rgba(38, 208, 208, 0.6) 0%, rgba(41, 123, 123, 0.6) 100%);
    backdrop-filter: blur(30px);
}
#pokecontainer #card img{
    height: 150px;
    width:  150px;
}
#searchInput, option{
    color: var(--black);
}
#searchButton{
    border: 1px solid #28a745;

}
/* modal */
/* Modal container */
.modal {
    display: none; 
    position: fixed; 
    background-color: rgba(117, 114, 100, 0.92);
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
  } 
  
  /* Modal content */
  .modal-content {
    background-color: var(--white);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 10px;
  }
  
  /* Close button */
  .close {
    color: var(--black);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
  }
  